/* Twilight 5 Palette By Star  */
@font-face {
    font-family: 'Scrambled_Eggs_Bold';
    src: local('Scrambled_Eggs_Bold'), local('Scrambled Eggs Bold'),
        url('./assets/fonts/Scrambled_Eggs_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Simple_Script';
    src: local('Simple Script'), local('Simple_Script'),
        url('./assets/fonts/Simple_Script.ttf') format('truetype');
}

@font-face {
    font-family: 'DyslexicPixel';
    src: local('DyslexicPixel'), 
        url('./assets/fonts/DyslexicPixel.ttf') format('truetype');
}

:root {
    --header-font: 'Scrambled_Eggs_Bold';
    --body-font: 'Simple_Script';
    --dyslexic-font: 'DyslexicPixel';
    --darkest: #292831;
    --second-darkest: #333f58;
    --accent1: #4a7a96;
    --accent2: #ee8695;
    --lightest: #fbbbad;

    --pixel: 4px;
}
