.lobby {
    width: 100%;
}

.content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.playerCard {
    width: 35%;
}

.playerItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    outline: var(--pixel) solid var(--darkest);
    outline-offset: calc(var(--pixel) * -1);
    color: var(--second-darkest);
    width: 100%;
}

.hostBadge {
    font-size: 0.7rem;
    color: var(--accent2);
    font-family: var(--header-font);
}
