.card {
    background: var(--lightest);
    padding: 32px;
    outline: var(--pixel) solid var(--darkest);
    outline-offset: calc(var(--pixel) * -1);
    box-shadow: var(--pixel) var(--pixel) 0 0 var(--darkest), 
        calc(var(--pixel) * 2) calc(var(--pixel) * 2) 0 0 var(--darkest);
}
