.card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: var(--lightest);
    padding: 32px;
    margin: 16px;
    outline: var(--pixel) solid var(--darkest);
    outline-offset: calc(var(--pixel) * -1);
    box-shadow: var(--pixel) var(--pixel) 0 0 var(--darkest), 
        calc(var(--pixel) * 2) calc(var(--pixel) * 2) 0 0 var(--darkest);
}

.title {
    font-size: 28px;
    font-family: var(--header-font);
    color: var(--darkest);
    padding-bottom: 12px;
}

.line {
    border: none;
    border-top: var(--pixel) dashed var(--second-darkest);
    width: 100%;
}
